<!DOCTYPE html>
<html>

<head>

<title>Intelligent Route Finder</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

body{
font-family:Arial;
background:#667eea;
margin:0;
}

.container{
width:900px;
margin:auto;
background:white;
padding:30px;
margin-top:40px;
border-radius:10px;
text-align:center;
}

textarea{
width:70%;
height:100px;
margin:10px;
}

input,select{
padding:8px;
margin:5px;
}

button{
background:#667eea;
padding:10px 15px;
margin:8px;
}

button:hover {
background: #5563c1;
}

table{
border-collapse:collapse;
margin:auto;
margin-top:15px;
}

th,td{
padding:8px;
border:1px solid #ccc;
}

</style>

<script>

function showCustom(){

document.getElementById("customBox").style.display="block"
document.getElementById("mode").value="custom"

}

function resetGraph(){

window.location="/"

}

</script>

</head>

<body>

<div class="container">

<h1>Intelligent Route Finder</h1>

<button onclick="showCustom()">Customize</button>
<button onclick="resetGraph()">Reset</button>

<form method="POST">

<input type="hidden" name="mode" id="mode" value="{{ mode }}">

{% if mode == "custom" %}
<div id="customBox" style="display:block">
{% else %}
<div id="customBox" style="display:none">
{% endif %}

<h3>Custom Edges</h3>

<textarea name="edges">{{ edges }}</textarea>

<h3>Heuristic Values</h3>

<textarea name="heuristic">{{ heuristic_text }}</textarea>

<br>

<button name="action" value="generate">Generate Graph</button>

</div>

<br>

Start Node
<input name="start" value="{{ start }}">

Goal Node
<input name="goal" value="{{ goal }}">

<select name="algorithm">

<option value="astar">A* Algorithm</option>
<option value="greedy">Best First Search</option>

</select>

<br>

<button name="action" value="find">Find Path</button>

</form>


<div>

<img src="data:image/png;base64,{{ graph }}" width="500">

</div>


{% if result %}

<h3>Result</h3>

<b>Path:</b> {{ result }} <br>
<b>Total Cost:</b> {{ cost }}

{% endif %}


{% if table %}

<h3>Cost Breakdown</h3>

<table>

<tr>
<th>From</th>
<th>To</th>
<th>Edge Cost</th>
<th>Cumulative</th>
</tr>

{% for row in table %}

<tr>
<td>{{row.from}}</td>
<td>{{row.to}}</td>
<td>{{row.cost}}</td>
<td>{{row.cumulative}}</td>
</tr>

{% endfor %}

</table>

{% endif %}

</div>

</body>

</html>